/* login form */
#login-form {
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: none;
	-moz-box-shadow: none;
   /* box-shadow: 1px 1px 4px #888;
    -moz-box-shadow: 1px 1px 4px #888;*/
}

span.delimiter,
.header-char-delim,
.admin-char-delim,
.commerce-char-delim {
	display: none;
}

#breadcrumbs{
	display:none;
}

a.commerce-sidebar-item,
a.commerce-sidebar-current,
a.admin-sidebar-item,
a.admin-sidebar-current,
a.header-item,
a.header-current {
	text-decoration: none;
	outline: none;
}

a:hover.commerce-sidebar-item,
a:hover.commerce-sidebar-current,
a:hover.admin-sidebar-item,
a:hover.admin-sidebar-current,
a:hover.header-item,
a:hover.header-current {
	text-decoration: none;
	outline: none;
	color: #145c9e!important;
}

td.admin-img,
.bordercolor{
	background: #FFFFFF;
}

.commerce-bordercolor,
.commerce-bordercolor .topcolor,
.admin-bordercolor,
.admin-bordercolor .topcolor,
.header-bordercolor,
#main-nav,
#sub-nav {
	border-color: #f2f4f5;
	background: #f2f4f5;
	border: 0 solid #f2f4f5!important;
}

.admin-bordercolor,
.commerce-bordercolor{
    border-bottom: 1px solid #c4ced7!important;
  	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.header-bordercolor {
    height: 34px;
    padding: 2px 0 0 0;
    background: url(/img/navigation/oracle_logo_sm.png) no-repeat scroll 5px 5px #f2f4f5;
    border-collapse: separate;
    line-height: normal;
    white-space: nowrap;
}

.header-bordercolor .nav-left:after{
	content: "CPQ Cloud Service";
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 19px;
	font-weight: 400;
	margin: 150px;
}

.admin-bordercolor {
    height: 30px;
    padding: 0px 0 0 0;
}

.commerce-bordercolor nobr,
.admin-bordercolor nobr,
.header-bordercolor nobr,
.nav-links nobr {
    background: none repeat scroll 0 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

.nav-links nobr{
    display: inline-block;
    padding: 0 5px;
}

.nav-links nobr a{
    display: inline-block;
    margin: 0px 0px 0 0;
    padding: 4px 4px 0 0;
}

.nav-links>a img,
.nav-links nobr img,
.nav-links nobr img:hover{
    display: inline-block;
    padding: 2px 3px;
    border-radius: 2px;
	border: 1px solid #f2f4f5;
	height: 24px;
}

.nav-links nobr a:first-child img :hover{
    padding: 0px 0 0 0!important;
}

.nav-links nobr a:first-child{
    padding: 0px 0 0 0!important;
  border:1px solid #f2f4f5;
}

#main-nav,
#sub-nav,
div.nav-links {
	height: 34px;
}


#header-page #main-nav a,
#header-page #main-nav a:visited,
#header-page #sub-nav a,
#header-page #sub-nav a:visited,
#header-page .commerce-bordercolor .nav-center a,
#header-page .commerce-bordercolor .nav-center a:visited {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #145c9e!important;
	background: #ffffff;
	border: 1px solid #ffffff;
	height: 22px;
	display: inline-block;
	margin: 0px 0px 0 0;
	padding: 2px;
	vertical-align: top;
	border-radius: 3px;
}

#header-page #main-nav a:hover,
#header-page #sub-nav a:hover,
#header-page .commerce-bordercolor .nav-center a:hover,
#header-page .commerce-bordercolor .nav-center a:hover {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #145c9e!important;
	background: #ffffff;
	border: 1px solid #c4ced7;
	height: 22px;
	display: inline-block;
	margin: 0px 0px 0 0;
	padding: 2px;
	vertical-align: top;
	border-radius: 3px;
}
.commerce-bordercolor .nav-left nobr:first-child,
.admin-bordercolor .nav-left nobr:first-child,
.header-bordercolor .nav-left nobr:first-child {
	border-left: none;
}

.commerce-bordercolor img,
.admin-bordercolor img,
.header-bordercolor img,
.nav-links nobr{
	border: 1px solid #f2f4f5;
}

.nav-links nobr img:hover,
.nav-links nobr:hover img{
	border: 1px solid #ffffff;
}

#subnav a,
.commerce-bordercolor img:hover,
.admin-bordercolor img:hover,
.header-bordercolor img:hover,
.nav-links nobr:hover,
.nav-links nobr:hover{
	color: #145c9e!important;
    background: #ffffff;
	border: 1px solid #c4ced7;
}


.sidebar-folder a img {
	margin: 0;
}

a.commerce-sidebar-item,
a.commerce-sidebar-current,
a.admin-sidebar-item,
a.admin-sidebar-current,
a.header-item,
a.header-current {
	padding-left: 0px;
	padding-right:0px;
	color: #145c9e!important;
}


.admin-bordercolor table,
.commerce-bordercolor table,
.header-bordercolor table {
    white-space: nowrap;
	background: #ffffff;
}

.commerce-bordercolor .nav-links nobr{
	display: inline-block;
	padding: 0;
}

/* -------- Set all Nav fonts ---------*/

.admin-sidebar-item,
.admin-sidebar-item:link,
.admin-sidebar-item:visited,
.admin-sidebar-current,
.admin-nav-tab,
.admin-nav-tab-on ,
.admin-tabs .tab-text,
.admin-char-delim ,
.commerce-sidebar-item,
.commerce-sidebar-item:link,
.commerce-sidebar-item:visited,
.commerce-sidebar-current,
.commerce-nav-tab, .commerce-nav-tab-on,
.commerce-tabs .tab-text,
.commerce-char-delim ,
.header-item,
.header-item:link,
.header-item:visited,
.header-current,
.header-tab,
.header-tab-on,
.header-tabs .tab-text,
.header-char-delim,
.footer-item,
.footer-item:link,
.footer-item:visited,
.footer-current,
.footer-tab, .footer-tab-on,
.footer-tabs .tab-text,
.footer-char-delim,
#main-nav,
#main-nav a,
#footer-nav,
#footer-nav a,
.admin-nav,
.admin-nav a,
.user-nav,
.user-nav a,
#main-nav .tab-text,
#footer-nav .tab-text,
.admin-nav .tab-text,
.user-nav .tab-text,
#login-form  {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #145c9e;
}
.commerce-sidebar-item, .commerce-sidebar-item:link, .commerce-sidebar-item:visited {
	font-weight: 700;
    text-transform: none;
}
.admin-bordercolor,
#header-page{
    border-bottom: 1px solid #c4ced7;
  	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
}

/* Fixes DocDesigner Headers */
#header-page {
  margin: 0 0 10px 0;
}
body, #wrapper {
background: none repeat scroll 0 0 #fafafa!important;
}

#header-page #main-nav a,
#header-page #main-nav a:visited,
#header-page #sub-nav a,
#header-page #sub-nav a:visited,
#header-page .commerce-bordercolor .nav-center a,
#header-page .commerce-bordercolor .nav-center a:visited {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #f2f4f5;
	margin: 2px 3px;
  height: 24px;
}

#header-page #main-nav a:hover,
#header-page #sub-nav a:hover,
#header-page .commerce-bordercolor .nav-center a:hover {
	color: #145c9e!important;
    background: #ffffff;
	border: 1px solid #c4ced7;
  height: 24px;
	margin: 2px 3px;
}