

/* -------------CSS THEME: Alta CPQ Cloud----------------- */
/* ---------------Default Stylesheet ---------------------- */

body {
	margin:0 auto;
	background: #fafafa;
}

body.model-config {
	background: #fafafa;
}

body, td, p { 
    text-decoration: none; 
    color: #000000;
	font-size:12px;
	font-family:"Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: normal;
}

a {  
    text-decoration: none;
}

div.main-pane{
	background-color: #FFFFFF;
}

.clearfix {
    *zoom:1; /* IE<8 */
}
.clearfix:after { 
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.help-icon {
   display: inline-block;
   width: 14px;
   height: 14px;
   padding-right: 4px;
   background: url(/img/bmx/icons/help.gif) no-repeat;
}

.help-popup,
.pricebook-constraint {
    position: absolute;
    padding: 8px;
    background-color: #FFFFFF;
    border: 1px solid #D6DFE6;
	-moz-border-radius: 3px; 	
	-webkit-border-radius: 3px;  
	border-radius: 3px;
    float: left;
    max-width: 300px;
    max-height: 200px;
    overflow: auto;
    opacity: 0;
    -webkit-box-shadow: 3px 3px 6px #999999;
    box-shadow: 3px 3px 6px #999999;
    -webkit-transition: opacity 0.2s ease 0s;
    -moz-transition: opacity 0.2s ease 0s;
    transition: opacity 0.2s ease 0s;
}

.column {
    white-space: nowrap;
}

/* Overlay and Loading dialog */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity = 30); /*ie7 and 8*/
}

#loading-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    width: 250px;
    background-color: #fff;
    border: 1px solid #777;
    padding: 25px;
    text-align: center;
    z-index: 1001;
}

/* --- Admin Area Customizations --- */
.bmTooltip {
    position: absolute; 
    display:none; 
    border: solid 1px #d6dfe6; 
    background-color: #F0F0F0;
    padding: 5px;
}

/* top bar properties */

.display-block {
	display:block;
}

#top-bar-wrapper { 
    background-color: #ffffff;
    border-bottom: 1px solid #d6dfe6;
    padding: 5px;
} 

#content-wrapper { 
    background-color: #FFFFFF;
    border: 1px solid #d6dfe6;
    border-radius: 15px 15px 0 0;
    margin: 0 auto!important;
	padding: 0;
} 

#bottom-bar-wrapper,
#content { 
    background-color: #FFFFFF;
} 

.top-bar { 
    background-color: #F0F0F0;
    color: #003366; 
    font-size : 14px;
	font-family:"Helvetica Neue", helvetica, arial, sans-serif!important;
    font-weight: 700; 
    font-style: normal;  
} 

.top-bar:link, .top-bar:visited { 
    background-color: #F0F0F0;
    color: #145c9e; 
    font-size : 12px;
	font-family:"Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: 700; 
    font-style: normal;
} 

a.top-bar:hover{
  text-decoration: underline;
}

/* for top bar and folder tabs*/ 


a.top-bar:hover, a.top-bar:visited:hover { 
    color: #145c9e; /* Primary Link Color */
}

.top-bar-on, .top-bar-on:link, .top-bar-on:visited { 
    background-color: #F0F0F0; 
    color: #145c9e; 
    font-size : 9pt;
	font-family:"Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: 700;
    font-style: normal; 
}

/* for SELECTED folder tab*/ 
a.top-bar-on:hover, a.top-bar-on:visited:hover { 
    color: #145c9e; /* Primary Link Color */
}

/* bottom bar properties */
.bottom-bar, .bottom-bar:link, .bottom-bar:visited { 
    background-color: #FFFFFF;
    color: #145c9e; 
    font-size : 9pt;
	font-family:"Helvetica Neue", helvetica, arial, sans-serif;
    text-align : right;
    font-style: normal;
    font-weight: 400;
	padding: 0 5px;
}

td.bottom-bar {
	border-top: 1px solid #d6dfe6;
}

td.bottom-bar .bottom-bar,
.top-bar .bottom-bar {
	border: 0px solid #d6dfe6;
}

a.bottom-bar,
a.bottom-bar:hover, 
a.bottom-bar:visited:hover { 
	color: #145c9e;
	text-decoration: underline;
}

.top-bar, 
.top-icon-bg-color,
.top-left-icon {
    background-color: #FFFFFF;
}
.admin-home-page .top-bar,
.admin-home-page .top-icon-bg-color,
.admin-home-page .top-left-icon {
	background-color: #F0F0F0;
}

.top-icon-bg-color img,
.top-left-icon img,
.top-bar img,
.bottom-bar img{
	display: none;
}

/* sidebox bar properties */
.sidebox-bar { 
    background-color: #F2F4F7;
    color: #000000; 
    font-size : 10pt; 
	font-family:"Helvetica Neue", helvetica, arial, sans-serif;
    font-weight: 700; 
}    
/* Popups */
.popup {
    position: fixed;
    left: 50%;
    top: 100px;
    z-index: 999;
}

.popup.modal {
    z-index: 1002;
}

.popup-header {
    padding: 15px 22px 6px 6px;
}

.popup-title,.popup-header img {
    vertical-align: middle;
}

.popup-content {
    padding: 16px 6px;
    overflow: auto;
}

.popup-footer {
    padding: 6px;
    text-align: right;
    position:relative;
}

.popup-footer .bm-button {
    display: inline-block;
    margin-left: 3px;
    position:relative;
    display: inline !ie;
}

.popup-footer .button-middle img {
    display: none;
}

.popup-footer .ok-button a {
	padding: 0 5px 0 22px;
	background: url("image/Icons/icon-check.png") no-repeat 0 50%;
}

.popup-footer .cancel-button a {
	padding: 0 5px 0 22px;
	background: url("image/Icons/icon-close.png") no-repeat 0 50%;
}
.popup-footer .cancel-button .button-middle {
	background-color: transparent;
    background-image: #e4e8ea; /* For browsers that do not support gradients */
    background-image:-webkit-linear-gradient(#f1f3f4, #e4e8ea); /* For Safari 5.1 to 6.0 */
    background-image:-o-linear-gradient(#f1f3f4, #e4e8ea); /* For Opera 11.1 to 12.0 */
    background-image:-moz-linear-gradient(#f1f3f4, #e4e8ea); /* For Firefox 3.6 to 15 */
    background-image:linear-gradient(#f1f3f4, #e4e8ea); /* Standard syntax */
    border: 1px solid #c4ced7;
}

.popup-header {
	background: #F2F4F7;
    border:1px solid #d6dfe6;
}
  
.popup-header .popup-title {
    color: #000000;
    font-weight: 700;
	font-family:"Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 14px;
	margin-left: 5px;
}
  
.popup-content {
    border-width: 1px!important;
    border: solid #D6DFE6; 
    background-color: #fff;
	font-family:"Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 12px;
	padding: 20px 10px 30px 10px;
}
  
.popup-footer {
    border: 1px solid #D6DFE6;
    border-top: none;
    background-color: #FFFFFF;
}
  
.popup-form .field-label {
	font-family:"Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 8pt; 
    color: #000000; 
    font-weight: 700; 
    text-align: left; 
}
  
.popup-form .error .field-label {
    color: #FF0000; 
    font-style: normal; 
    font-weight: 400; 
}

.popup-close {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-image: url(/img/gxt/tool-sprites-gray.gif);
	overflow: hidden;
}


/* Panels */
.panel .panel-tc, 
.panel .panel-tl, 
.panel .panel-tr, 
.panel .panel-mr, 
.panel .panel-ml, 
.panel .panel-bc, 
.panel .panel-bl,
.panel .panel-br{
    background: #FFFFFF!important; /* Secondary Color */
	border:0px solid #ffffff!important; /* Secondary Color */
}
.panel {
    border-top:1px solid #d6dfe6!important;
    border-radius: 0px;
}

.panel .panel-heading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px!important; 
    color: #000000!important;
}

.panel-body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    color: #000000;
}

.panel.collapsible span.panel-heading{    
	background: url("image/images/arrow-collapse.png") no-repeat scroll 0px transparent;
    padding-left: 15px;
	padding-right: 3px;
}

.panel-collapsed span.panel-heading{    
	background: url("image/images/arrow-expand.png") no-repeat scroll 0px transparent !important;
    padding-left: 15px;
	padding-right: 3px;
}

.toggle-panel {
    display:none!important;
}

/* ------- Config -------*/

/* Creates fixed width, centered content in Config*/
.body-inner {
    margin-left: auto;
    margin-right: auto;
    border: solid #d6dfe6 0px; 
    background: #ffffff;
}

#attr_wrapper_1_jobStateMenu_t label,
#attr_wrapper_1_transactionName_t label,
#attr_wrapper_1_businessUnit_t label,
#attr_wrapper_1_shipToName_t label,
#attr_wrapper_1_ShippingAddress1_t label,
#attr_wrapper_1_shippingCity_t label,
#attr_wrapper_1_shippingStateMenu_t label,
#attr_wrapper_1_shippingZip_t label,
#attr_wrapper_1_purchaseOrderNumber_t label,
#attr_wrapper_1_requestedDeliveryDateOnly_t label,
#attr_wrapper_1_pEMBDrawingsReceivedOrder_t

{
    border-left: 3px red solid !important;
    padding-left: 4px;
    width: auto !important;             
}   

/* Attribute Label Properties */
.required .attribute-label,
.attribute-label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-size: 11pt!important;
    color: #000000!important;
}

.attribute-label-container {
	width:250px!important;
}

/* Required Attribute Label Properties */
.required .attribute-label {
    font-style: 700!important;
}

/* Group Header Label Properties */

.model-config .group-header {
	font-size: 16px; 
	color: #252525;
	font-weight: 700;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #FFFFFF;
	border-top: 1px solid #D6DFE6;
	line-height: 26px;
}
.model-config  .group-header:hover{
    color: #145c9e;
	background-color: #FFFFFF;
}
.model-config  .group-inner {
	border: 1px solid #ffffff!important;
	margin-top: -5px!important;
}

/* Adds arrow icon to indicate collapsable groups within config */
.model-config  .group-content .group-header span{
   padding-left: 16px;
   background: url("image/images/arrow-collapse.png") no-repeat 0 50%;
}

.model-config  .group-content.collapsed .group-header span{
   padding-left: 16px;
   background: url("image/images/arrow-expand.png") no-repeat 0 50%;
}

/* Array Table Properties */
.array {
    background-color: #FFFFFF;
    border: 1px solid #D6DFE6;
    border-collapse: separate;
}

.array td {
    background-color: #FFFFFF;
}

.array thead th {
    border: #D6DFE6 solid 1px; 
    background: #F2F4F7;
    height: 18px;
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400; 
    font-size: 11pt;
    line-height: 16px;
}

.array td, .array th {
    border: solid #D6DFE6;
    border-width: 0 0 1px 0px;
    background-color: #fff;
    padding: 3px 6px;
    vertical-align: middle;
}

.array .constrained-row td, .array .constrained-row th,
.array .recommended-row td, .array .recommended-row th,
.array .previous-value-row td, .array .previous-value-row th {
    border-bottom-color: #D6DFE6;
}

.array tr td.recommended,
.array tr td.constrained,
.array tr td.previous-value {
    background-color: #fff8e5;
    border: solid #D6DFE6;
    border-width: 3px 0 0 1px;
}

.array td.recommended + td,
.array td.constrained + td,
.array td.previous-value + td {
    border-left: 1px solid #D6DFE6;
}

.array th[scope=row],
.vertical-array th {
    text-align: left;
}

.vertical-array th[scope=row],
.vertical-array .array-remove-cell {
    width: 1px;
}

.array-add, 
.array-remove {
    text-indent: -9999px;
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent center center;
}

.horizontal-array .array-remove {
    float: right;
    margin-left: -16px;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease 0s;
    -moz-transition: opacity 0.1s ease 0s;
    transition: opacity 0.1s ease 0s;
}

.horizontal-array th:hover .array-remove {
    opacity: 1;
}

.array tr.selected th,
.array tr.selected td {
    background-color: #B9DFFF;
}


.array .even td, 
.array .even th {
    background-color: #F2F4F7!important;
}

.array tr td.previous-value {
    border-top-color: #D6DFE6;
}

.array tr td.recommended {
    border-top-color: #0000FF;
}

.array tr td.constrained {
    border-top-color: #FF0000;
}

/* Custom Tabs */
/* ------------------------------------------------------ */
.tab-content {
    border:0px;
}

ul.tab-strip {
    background: transparent;
    border-bottom: 1px solid #D6DFE6!important; 
    padding: 0 0 0 4px;
    margin-bottom: 10px;
}

.tab-inner, 
.tab-right {
    background: none repeat scroll 0 0 transparent !important;
    padding: 0px!important;
}

.tab-strip li{ 
    margin-bottom: -1px; 
    padding: 0 2px;
}
.model-config .column {
    white-space: normal;
}

.tab-strip a.tab-left {
    background: none repeat scroll 0 0 transparent;
	border-radius: 0 0;
	font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

.tab-strip .tab-text {
	padding: 0px;
	color: #145c9e;
	font-size: 12px!important;
	font-weight: normal;
	text-decoration: none!important;
}

.tab-strip .tab-text,
.tab-strip a.tab-left {
	height: 21px;
	line-height: 21px;
	text-decoration: none!important;
}

.tab-strip .tab-left{
    /* border: #D6DFE6 solid 1px; */
    padding: 5px 9px 7px 9px;
    background: none repeat scroll 0 0 #FFFFFF;
}

.tab-strip .tab-active a.tab-left,
.tab-strip .tab-active a.tab-left:hover{ 
	border-bottom: 3px #0572CE solid;
    /* border-bottom-color: #ffffff;
    border-style: solid; */
    background: transparent!important;
  	height: 18px;
	line-height: 18px;
	/* text-decoration: none!important; */
}

.tab-strip a.tab-left:hover { 
    background: transparent!important;
}

.tab-strip a.tab-left:hover .tab-text { 
	color: #145c9e;
	font-weight: normal;
	text-decoration: underline!important;
}
.tab-strip .tab-active a.tab-left .tab-text,
.tab-strip .tab-active a.tab-left:hover .tab-text{
	color: #145c9e;
	text-decoration: none;
	font-weight: bold;
}

/* Buttons */
/* ------------------------------------------------------ */

/* Hide Button Images
.button-middle a img {
    display: none;
}

.button-middle a {
	padding: 0!important;
}
     Hide Button Images end */
	 
	 
/* Format Button Images */
.button-middle a img {
	margin: -8px 0 0 2px; /* The top margin is minus half height of the image (16px). */
	position: absolute;
	top: 50% !important;
}

.button-middle a {
	padding: 0 0 0 0px;
	background-position: 0 center;
	background-repeat: no-repeat;
}

.add-row-btn .button-middle a {
    background-image: url("image/Icons/icon-plus.png");
    padding-left: 20px;
}
/* Format Button Images  end*/

/* Format General Buttons */
.button-left, .button-right { 
	display: none!important; /* hide button sides used in original table buttons */
} 
 
 td.button-middle { 
	background-color: transparent;
    background-image: #e4e8ea; /* For browsers that do not support gradients */
    background-image:-webkit-linear-gradient(#f1f3f4, #e4e8ea); /* For Safari 5.1 to 6.0 */
    background-image:-o-linear-gradient(#f1f3f4, #e4e8ea); /* For Opera 11.1 to 12.0 */
    background-image:-moz-linear-gradient(#f1f3f4, #e4e8ea); /* For Firefox 3.6 to 15 */
    background-image:linear-gradient(#f1f3f4, #e4e8ea); /* Standard syntax */
    border: 1px solid #c4ced7;
    color: #000000;
	display: block;
	position: relative;
	-moz-border-radius: 2px; 	
	-webkit-border-radius: 2px;  
	border-radius: 2px;
    height: 26px;
    margin: 0px;
}

 td.button-middle:active { 
    background-color: #0572ce!important;
    background-image: none;
    border-color: #0572ce!important;
}

 td.button-middle:hover { 
	background-color: #f7f8f9!important;
	border: 1px solid #c4ced7!important;
}

.button-middle a {
	outline: none;
	-moz-outline-style: none;
	margin: 0px 8px;
    text-align: center; 
    color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px!important;
	font-weight: 700!important;
    color:#000000; 
    text-shadow: 0 1px 0 #ffffff;
    line-height: 26px;    
	display: block;
}

td.button-middle:active a{
	margin: 0px 8px!important;
	color:#ffffff!important;
}

td.button-middle:hover a{
	margin: 0px 8px!important;
}

.button-middle:hover a{
	color: #0572ce!important;
}

.button-middle div { 
	margin: 0px!important;  /*overrides .js inline click movement */
	padding: 0!important;
} 

.button-text, .button-text:link, .button-text:visited {
    position: relative;
    top: 0px;
}

/*Format General Buttons end */

/*Format Commerce and Config Buttons */
#sticky-actions td.button-middle,
.bm-actionstrip-horiz td.button-middle { 
	background-color: transparent;
    background-image: #e4e8ea; /* For browsers that do not support gradients */
    background-image:-webkit-linear-gradient(#f1f3f4, #e4e8ea); /* For Safari 5.1 to 6.0 */
    background-image:-o-linear-gradient(#f1f3f4, #e4e8ea); /* For Opera 11.1 to 12.0 */
    background-image:-moz-linear-gradient(#f1f3f4, #e4e8ea); /* For Firefox 3.6 to 15 */
    background-image:linear-gradient(#f1f3f4, #e4e8ea); /* Standard syntax */
    border: 1px solid #c4ced7;
    height: 26px;
    margin: 0px;
}

#sticky-actions  .button-middle a,
.bm-actionstrip-horiz  .button-middle a {
	margin: 0px 8px;
    color: #000000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px!important;
	font-weight: 700!important;
    color:#000000; 
    text-shadow: 0 1px 0 #ffffff;
    line-height: 28px;   
}

#sticky-actions .button-middle:hover,
.bm-actionstrip-horiz .button-middle:hover{
	background-color: #f7f8f9!important;
	border: 1px solid #c4ced7!important;
} 

#sticky-actions .button-middle:hover a,
.bm-actionstrip-horiz .button-middle:hover a{
	color: #0572ce!important;
}

#sticky-actions td.button-middle:active a,
.bm-actionstrip-horiz td.button-middle:active a{
	margin: 0px 8px!important;
	color:#ffffff!important;
}

#sticky-actions td.button-middle:active ,
.bm-actionstrip-horiz td.button-middle:active { 
    background-color: #0572ce!important;
    background-image: none;
    border-color: #0572ce!important;
} 


/* Actionstrip Fixes */
/* ------------------------------------------------------ */
.button-bar {
    margin: -10px -10px  10px -10px!important;
    padding: 0!important;
    height: 35px;
}

#sticky-actions {
	padding: 3px 10px;
}

#sticky-actions .floating,
div.bm-actionstrip.fixed, div.bm-actionstrip.floating {
    border: solid #FFFFFF 0px!important; 
    background: #FFFFFF!important;
    padding: 3px 0;
    margin: 0;
}

#sticky-actions .bm-actionstrip-horiz,
#sticky-actions .bm-actionstrip-horiz.floating {
    background: #FFFFFF!important;
    border: solid #FFFFFF 0px!important; 
    padding: 3px 0;
    margin: 0;
}

#sticky-actions .bm-actionstrip-horiz.floating {
    border-bottom: 1px solid #D6DFE6!important;
	-moz-box-shadow: 0 5px 5px #999999;
	-webkit-box-shadow: 0 5px 5px #999999;
	box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .25);
}

.grand-total-container {
    color: #333333;
}

/* Pipeline Viewer */
/* ------------------------------------------------------ */

#pipeline-viewer-opener {
    background-color: transparent;
    text-align: right;
}

#pipeline-viewer-opener a{
    color: #454545;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Commerce */
/* ------------------------------------------------------ */

/* sets the commerce content area formatting */
#document-form {
    border: solid #FFFFFF 0px; 
    background: #ffffff;
    padding: 0px;
    margin:0px 0px;
}

#cm-manager-content .x-grid3-hd-row td {
	border: 0 0 1px 0!important;
	border: 1px solid #D6DFE6 !important;	
}

#cm-manager-content .x-grid3-row{
	border: 1px solid #D6DFE6;
}

#cm-manager-content .x-grid-table-bg-color{
	background-color:#FFFFFF;
}

#cm-manager-content .x-grid-td-tab-name {
    font-weight: 700;
    padding: 3px;
}

#cm-manager-content .x-grid-group-hd{
	border: 0 0 1px 0!important;
	border-bottom: 1px solid #FFFFFF !important;	
    padding-top:0px;
    cursor:auto;
}
#cm-manager-content .x-grid3-hd-inner{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000000; 
    font-size: 8pt; 
    background-color: #F2F4F7;
    font-weight: 700; 
    padding-left: 3px;  
    text-align:left;
	vertical-align: middle;
}
.rowBorder{
    border:0px ;
}

#cm-manager-content .x-grid-group-hd div { 
    background:none;
    padding : 0px;
    cursor:auto;
    font-weight: 700; 
    font-style: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.x-grid3-hd-row a{
    color: #000000!important; 
	text-decoration: none!important;
}
	
.cm-group-tab{
    background: transparent;
}

.cm-group-tab ul{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size : 8pt !important;
    font-weight: 700 !important; 
    font-style: normal !important;
}

.cm-group-tab li{
    background: #e4e8ea url(/img/gxt/rounded_gradient-tab-inner.png) repeat-x scroll 0 -1px;
}


.cm-group-tab a{
    color: #000000;
    background: transparent url(/img/left_top_tab8x20.gif) no-repeat left top;
}

.cm-group-tab a span{
    background: transparent url(/img/right_top_tab8x20.gif) no-repeat right top;
    padding: 6px 8px 3px 7px;
}

#cm-manager-content .x-grid3-cell-inner {
    color: #000000; 
    font-size: 8pt; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#cm-manager-content .x-grid3-row-alt {
    background-color: #F0F0F0;
}
#cm-manager-content td.x-grid3-hd-over .x-grid3-hd-inner, 
td.sort-desc .x-grid3-hd-inner, 
td.sort-asc .x-grid3-hd-inner, 
td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background: #EEEEEE repeat-x scroll left bottom; 
}

#cm-manager-content .x-grid3-row-selected {
    background-color: #B9DFFF;
}
#cm-manager-content .hover {
    background-color: #ebeced; 
}
#cm-manager-content .x-grid3-row-selected.hover {
    background-color: #ebeced;
}

#cm-manager-content .x-grid3-header {
    background-color: #F2F4F7;
    color: #000000; 
	border: 1px solid #D6DFE6!important;	
}

/* --- LISTS --- */
/* ------------------------------------------------------ */
/* .list-label, .list-label:link, .list-label:visited { 
    background-color: #FFFFFF;
    color: #696969; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px; 
	border: 0px solid #666666;
	font-weight: 700;
} */

.list-label, .list-label:link, .list-label:visited { 
    background-color: #FFFFFF;
    color: #145c9e; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px; 
	border: 0px solid #d6dfe6;
	font-weight: 700;
}

#partSearchResultsGrid td.list-label,
tr.view-header .list-label, 
tr.view-header .list-label:link, 
tr.view-header .list-label:visited{
    background-color: #F2F4F7;
    color: #145c9e; 
}

a.list-label:hover, a.list-label:visited:hover { 
    background-color: #EEEEEE;
    color: #145c9e; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px; 
	border: 0px solid #666666;
	font-weight: 700;
	text-decoration: underline;
}

th.list-label.col-part_number {
	text-align: left;
}

th.list-label.col-description {
	text-align: left;
}

.list-field { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 8pt; 
    color: #000000;
}

.form-input-selected, 
.bgcolor-list-even-selected, 
.bgcolor-list-odd-selected {
    background-color: #f0f0f0; 
} 

tr.adv-grid-row:hover,
.line-item-grid-wrapper .line-item-hover,
.form-input-mouseover, 
.bgcolor-list-even-mouseover, 
.bgcolor-list-odd-mouseover {
    background-color: #F9F9F9!important;
} 

.bgcolor-list-even{
    background-color: #F9F9F9;
    height: 20px;
}

a.col-part_number:hover, 
a.col-part_number:visited:hover 
.toggle-search a:hover, 
.toggle-search a:visited:hover,
a.list-field:hover, 
a.list-field:visited:hover,
a.list-field-new:hover, 
a.list-field-new:visited:hover { 
    color: #145c9e; 
}

.toggle-search a,
.list-field:link, 
.list-field:visited,
.list-field-new, 
.list-field-new:link, 
.list-field-new:visited { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 8pt; 
    color: #145c9e;
    text-decoration: underline; 
}

.auto-update-highlight {
    background-color: #B9DFFF;
    background-image: none;
}

.empty-link {
    font-style: italic; 
    /** For empty links in commerce manager grid. **/
}

/* --- Search Parts Page ---*/
/* ------------------------------------------------------ */
#search-results-header {
    border-color: #D6DFE6;
    border-style: solid;
    border-width: 0 0 2px 0;
}

#search-results-list{
    margin: 25px auto 0 auto!important;
}
#search-results-list table,
table.adv-grid {
    border: 1px solid #D6DFE6!important;
    width: 925px;
}

.adv-parts-options {
    border-top: 1px solid #D6DFE6!important;
}

#search-results-list table th,
#search-results-list table td,
td.adv-grid -cell{
	border: solid #D6DFE6!important;
	border-width: 0 0 1px 0!important;
}

/* Line Item Grid */
/* ------------------------------------------------------ */
#line-item-grid-body {
}
#line-item-grid tr.parent-line-item > td { 
    border-width: 0 0 1px 0;
}

#line-item-grid .parent-line-item:hover td { 
	background-color: #ffffff; 
}

#line-item-grid td {
	border: solid #D6DFE6;
	border-width: 0 0 1px 0!important;
	padding: 3px 3px;	
}

#line-item-grid .child-line-item td{
	background-color: #FFFFFF!important; 	
}

.child-line-item:hover td {
	background-color: #FFFFFF; 
}

#line-item-grid td td, 
#line-item-grid th td{
	border: none;
	padding: 3px 3px;
}

#line-item-grid .action-icon-bar div {
	padding: 0;
	margin-top: 3px;
	height: 12px;
}

#line-item-grid { 
	border-collapse: collapse; 
	border: #D6DFE6 solid 0px!important; 
}

.line-item-grid-header th { 
	padding: 4px 4px; 
	border: #D6DFE6 solid 1px!important;
	border-bottom: #D6DFE6 solid 1px!important;
    background: #F2F4F7!important;
    color: #000000!important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700!important;
	line-height: 24px;
}

.line-item div div {
	line-height: 24px;
}

.line-item div.boolean-wrapper-inner{
	margin-top: 3px;
}

.line-item div.text-wrapper-inner {
	margin-top: 1px;
}

.line-item-grid-footer th{ 
    border-top: 2px solid #FFFFFF!important; 
    border-bottom: 0px solid #D6DFE6!important; 
    padding: 5px 5px; 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px!important; 
    color: #000000!important; 
    font-weight: 700;
}

td.checker{ 
	text-align: center;
}

td.checker input {
	margin-top: 7px;	
}

.line-item-grid-wrapper .child-line-item .checker input {
	float: right;
	margin-left: 26px;
}

#line-item-grid .line-item-show .reorder-icon {
	left: inherit;
	position: relative;
	width: 6px;
	margin-top: 1px;
}

.line-item-grid-wrapper .line-item .collapsible,
.line-item-grid-wrapper .line-item .collapsible.collapsed {
	position: relative;
	float: left;
	margin: 6px 0 0 -1px;			
	cursor: pointer;
	height: 13px;
	width: 13px;
	background-position: center center !important;
}

/* JS:10/10 - Set grey background to disabled line items */
.line-item input[disabled], 
.line-item select[disabled], 
.line-item textarea[disabled] {
    background-color: #ebebeb !important;
    background-image: none !important;
}

/*  --- GENERAL TEXT --- */
/* ------------------------------------------------------ */
.general-text { 
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 8pt; 
    color: #000000;
}
a.general-text:link, a.general-text:visited { 
    text-decoration: underline; 
    color: #145c9e;
}
a.general-text:hover, a.general-text:visited:hover { 
    color: #145c9e; 
	text-decoration: underline;
}

.tree:link, .tree:visited { 
    color: #145c9e;
    font-size: 8pt; 
}
a.tree:hover, a.tree:visited:hover { 
    color: #145c9e; 
    font-size: 8pt; 
    text-decoration: underline; 
}

div.qs_header {
    border-bottom: 1px solid #D6DFE6!important;
    margin: -5 0 10px 5px;
}
/*
.qs_header span{
	font-size: 14px!important; 
	color: #252525!important;
	font-weight: 700!important;
	font-family: "Helvetica Neue", Helvetica, Arial,Sans-Serif!important;
    margin-left: -12px; 
}
*/
.qs_header label { 
            font-size: 18px; 
            width: 100% !important;
            border-bottom: solid 0px !important; 
            padding-bottom: 2px; 
            margin-bottom: 4px;
            color: #003366;
            background: #f3f3f3;
            clear: both !important;
            padding-left: 6px;
        }
.qs_header span {
    margin: 0;
    font-size: 18px !important; 
    color: #003366;
}

/* --- VIEW / FORM --- */
/* ------------------------------------------------------ */
form {
	background:#FFFFFF;
}

.view-header, .form-header { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px; 
	background-color: #F2F4F7;
    color: #252525; 
    font-weight: bold; 
    padding-left: 3px;  
}

tr.view-header td.list-label{
    border-bottom: 1px solid #FFFFFF;
}

.view-text, 
.form-input, 
.form-input select, 
.form-input-modified, 
.form-input-selected, 
.form-input-mouseover,
.form-item input, 
.form-item select, 
.form-item textarea, 
.form-item .menu-attr label,
.attribute-field, 
.cfg-image-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    color: #252525; 
    font-weight:normal;
}
.view-text-number, 
.form-input-number {  
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    color: #252525; 
    text-align: right; 
}    
.view-text:link, 
.view-text:visited { 
    color: #145c9e; 
}
a.view-text:hover, 
a.view-text:visited:hover { 
    color: #145c9e; 
    text-decoration: underline; 
}
.view-label, 
.form-label, 
.form-item label { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    color: #252525; 
    font-weight:normal;
    text-align: left;
} 

.view-label-200px { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    color: #252525; 
    font-weight:bold;
    padding-left: 1px; 
    width: 200px;
}
.view-number { 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px; 
    color: #252525; 
    font-weight:normal;
    text-align: right; 
}

/*  Pagination */
/* ------------------------------------------------------ */
.column .paging-tools{ 
	text-align: center; 
	font-size: 12px; 
}

.paging-tools { 
	margin-top: 15px; 
}

span.pagination-button-left,
span.pagination-button-right{ 
	visibility: hidden; 
	padding: 0; 
	display: none;
} 

.paging-tools .first-page,
.paging-tools .prev-page,
.paging-tools .paging-status,
.paging-tools .next-page,
.paging-tools .last-page { 
	visibility: visible; 
}
.paging-status { 
	margin: 0 10px 0 6px; 
}
.paging-tools a.paging-tool-disabled {
	color: #9e9e9e!important;

}

div.page-number ul.paging li button.pagingbtn.current {
	border: 1px solid #4f4f4f;
}

.paging-tools span a,
span.pagination-button-middle {
	padding: 3px 6px!important;
	text-decoration: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    font-size: 12px; 
    font-weight:bold;
	-moz-border-radius: 2px; 	
	-webkit-border-radius: 2px;  
	border-radius: 2px;
	-webkit-background-clip: padding-box; /* Fixes border bleed in webkit */
	background-clip: padding-box !important;
	-moz-background-clip: padding !important;
	background-color: transparent;
    background-image: #e4e8ea; /* For browsers that do not support gradients */
    background-image:-webkit-linear-gradient(#f1f3f4, #e4e8ea); /* For Safari 5.1 to 6.0 */
    background-image:-o-linear-gradient(#f1f3f4, #e4e8ea); /* For Opera 11.1 to 12.0 */
    background-image:-moz-linear-gradient(#f1f3f4, #e4e8ea); /* For Firefox 3.6 to 15 */
    background-image:linear-gradient(#f1f3f4, #e4e8ea); /* Standard syntax */
    border: 1px solid #c4ced7;
    color: #000000;
	height: 18px;
}

.paging-tools select.selpaging {
height: 30px!important;
}

.paging-tools span a:hover,
.pagingbtn:hover  span.pagination-button-middle { 
	background-color: #f7f8f9!important;
	border: 1px solid #c4ced7!important;
    color: #0572ce;
}
.paging-tools span a:active,
span.pagination-button-middle:active { 
    background-color: #0572ce!important;
    background-image: none;
    border-color: #0572ce!important;
	background-position: 0 -310px; 
	color: #FFFFFF!important;
}


/* Fixes Side content in Config */
.side-bar-content .items-table-content,
.side-bar-content #recommendation-section {
    max-width: 420px;
	border: 1px solid #D6DFE6;
}
.side-bar-content .main-model {
 width: 420px; 
}
.side-bar-content .items-header{
    max-width: 432px;
	border: 1px solid #D6DFE6;
}

/* @Warning Message */
.warningIcon {
    width: 40px;
    height: 40px;
    /*padding-right: 15px;*/
    background-position: left center;
    /* warning icon uses relative link to the file manager, this file should be stored in /bmfsweb/{sitename} */
    background-image: url('/bmfsweb/topbuildtest2/image/images/warningIcon.png');
    background-repeat: no-repeat;
    
}
.warningMessageHeader {
    font-size: 12pt;
    color: #d84b27;
    font-weight: bold;
    margin: 0 0 1px 0;
    /*padding-left: 50px;*/
    padding-bottom: 4px;
}
.warningMessageContentList {
    list-style-type: disc;
    margin-left: 20px;
    padding: 0;
    font-size: 8pt;
    font-weight: bold;
/*  //color: #555555; */
    color: #e47F00;
    margin-top: 0px !important;
}

.warningMessageContentList li {
    padding: 2px 0 !important;
}

.warningMessageContent  {
    padding: 2px 0 !important;
    color:#e47F00;
    font-weight: bold;
    font-size: 8pt;
    vertical-align: text-top;
}

.commerceTabs input {
    border:1px solid #d1c7ac;
    width: 230px;
    color:#333333;
    padding:3px;
    margin-right:4px;
    margin-bottom:1px;
    font-family:tahoma, arial, sans-serif;
  
  
}

.commerceTabs select {
    /*
    display: block;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 0.9;
    padding: 0em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    */
    border:1px solid #d1c7ac;
    width: 230px;
    color:#333333;
    padding-right:3px;
    padding-top:3px;
    padding-bottom:3px;
    margin-right:4px;
    margin-bottom:8px;
    font-family:tahoma, arial, sans-serif;

}

.commerceTabs .form-label{
    line-height: 1.6em !important;
    text-align: left !important;
    font-weight: bold !important;
    color: #666666 !important;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif !important;
    font-size: 11px !important;
}
.column-layout .column .form-item #field_wrapper_1_orderPreviewHtml_t.form-element,
.column-layout .column .form-item #field_wrapper_1_orderHistoryTableHTML_t.form-element {
    width: 100% !important;
    height: auto !important;
}

#address-columns {
  width:100%;
}
tr.address-info td {
    vertical-align: top;
}
#route-op {
    padding-top: 15px;
}
#route-columns{
    width: 100%;
}
#cust-contain label.form-label {
    width: 200px;
}
#cust-contain div.form-field {
    margin-top: 5px;
}
#order-info {
  padding-top: 15px;
}
#order-columns {
  width: 100%;
}
#order-columns td {
  vertical-align: top;
}
.ord-label {
  width: 200px;
  float: left;
}
.ord-field {
    margin-bottom: 5px;
}
#ord-parts {
  padding-top: 15px;
}
#ord-part {
  width: 100%;
  border: 1px solid #eeeeee;
}
#ord-part thead th {
  /*background-color: #F4F6F9;*/
  background-color: rgb(0,85,150);
  color: #fff;
}
#ord-part table, #ord-part td {
  border: 1px solid #f0f0f0;
}
.odd-row {
  background-color: #f6f6f6;
}
#ord-hist-table {
    width: 100% !important;
}
/* Tabs, Panel, Tablular Data style start from here */
.tab-strip,
.panel .tab-strip {
    background-color: transparent !important;
    border-bottom: 1px solid rgb(216, 221, 230) !important;
    padding: 0;
    margin-bottom: 15px;
}
.tab-strip li,
.panel .tab-strip li {
    margin-right: 0;
    padding: 0;
}
.tab-strip li + li {
    margin-left: 24px;
}
.tab-strip a.tab-left,
.panel .tab-strip a.tab-left {
    background: transparent !important;
    padding: 0;
    border-radius: 0;
/*    text-transform: uppercase;*/
    border: 0;
    border-bottom: 2px solid transparent;
    height: auto;
    line-height: normal;
}
.tab-strip .tab-active a.tab-left,
.panel .tab-strip .tab-active a.tab-left,
.tab-strip .tab-active a.tab-left:hover,
.panel .tab-strip .tab-active a.tab-left:hover,
.tab-strip a.tab-left:hover,
.panel .tab-strip a.tab-left:hover {
    border-color: rgb(0, 112, 210) !important;
}
.tab-strip a.tab-left .tab-right,
.panel .tab-strip a.tab-left .tab-right {
    padding: 0;
}
.tab-strip a.tab-left .tab-right .tab-text,
.panel .tab-strip a.tab-left .tab-right .tab-text {
    padding: 0 16px 8px;
    height: auto;
    line-height: 20px;
    color: rgb(84, 105, 141) !important;
    font-weight: 400;
    font-family: 'Salesforce Sans', sans-serif !important;
}
/* slaird 9-25-17: Added font bold and font color change when a tab is selected */

.panel .tab-strip .tab-active a.tab-left .tab-right .tab-text {
    padding: 0 16px 8px;
    height: auto;
    line-height: 20px;
    color: rgb(0, 112, 210) !important;
    font-weight: 700;
    font-family: 'Salesforce Sans', sans-serif !important;
}

.tab-strip .tab-active a.tab-left .tab-right .tab-text,
.panel .tab-strip .tab-active a.tab-left .tab-right .tab-text {
    color: rgb(22, 50, 92);
}
.line-item-grid-wrapper .line-item-grid-footer th {
    border: solid 1px rgb(180, 202, 221);
    border-left: none;
    border-right: none;
    font-family: 'Salesforce Sans', sans-serif !important;
    font-size: 12px;
    padding: 10px 5px;
}
.panel {
    padding: 0 10px;
}
.panel .panel-body {
    font-family: 'Salesforce Sans', sans-serif !important;
    padding: 15px 0 0 !important;
    border-width: 0 !important;
}
.panel .panel-tl,
.panel .panel-tl .panel-tr,
.panel .panel-tl .panel-tr .panel-tc,
.panel .panel-bl,
.panel .panel-bl .panel-br .panel-bc,
.panel .panel-bl .panel-br .panel-bc {
    background: #ffffff !important;
}
.panel .panel-tl {
    padding: 0 !important;
    border-bottom: none !important;
}
.panel .panel-tl .panel-tr .panel-tc {
    padding: 0px 10px;
}
.panel .panel-tl .panel-tr .panel-tc .panel-heading {
    color: rgb(22, 50, 92);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Salesforce Sans', sans-serif;
}
.panel .panel-body .tab-content {
    border-width: 0;
}

/* Tabs, Panel, Tablular Data style end here */

.form-date input {
    height: 24px !important;
}

/* JS:10/10 - Quick add part enable scrollbar */
div.ac_results > ul {
    max-height: 180px !important;
}