/*****************************************************************************
 * Environment strip                                                         *
 *****************************************************************************/
 #environmentHeader {
    width: auto;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}

#environmentHeader.test {
	color: #ffffff;
    background-color: #0b5591;
}

/*****************************************************************************
 * Logos                                                                     *
 *****************************************************************************/

 #header-logo-table {
     width: 30%;
     position: absolute;
 }

 #service-partners-logo-td {
     width: 150px;
     vertical-align: baseline;
 }

 #service-partners-logo, #quote-machine-logo {
     height: 68px
 }

 #quote-machine-logo {
     padding-top: 10px
 }
 

