/* ---------------Homepage Stylesheet---------------------- */

/* Layout
------------------------------------------------------ */
body {
    text-decoration: none;
    color: #000000; /* Primary Text Color */
	font-size:12px;
	font-family:"Helvetica Neue", helvetica, arial, sans-serif;
	font-weight: normal;
}

a {
    text-decoration: none;
}

/* Outer - wrapping HTML
------------------------------------------------------ */

tr[style='height: 5px;'] {
	display: none;
}

#price-book,
#search-wrapper h3 {
	clear: both;
}

body,
.logged-in table.page-content {
	background: transparent!important;
}

html {
	background: #fafafa;
	background-image: url('../../image/Icons/tile.png');
	background-repeat: repeat;
	background-position: top left;
}

.logged-in .page-content table td[width='10'] {
	display: none;
}

.logged-in .page-content table table td {
	position: relative;
}

.logged-in .page-content {
	position: absolute;
	left: 0;
	height: 670px;
}

.logged-in .page-content .dummy-td {
	border-style: solid;
	border-width: 0!important;
	position: relative;
	display: block;
	width: 960px !important;  /*IE 7*/
	margin: 0 auto !important;  /*IE 7*/
}

.logged-in .login-view .page-content .dummy-td,
.logged-in .guest-access .page-content .dummy-td {
	width: 100% ;  /*IE 7*/
}

.logged-in .dummy-td {
    min-height: 650px;
    width: auto;
}

.logged-in .dummy-td table tr {
	position: relative;
}
/* Top Navigation
------------------------------------------------------ */
	.header-bordercolor { /*width: 960px;*/ margin: 0 auto; border-width: 0; }
	.commerce-bordercolor { border:  solid #aaa; border-width: 1px 0 0 0; /*width: 960px;*/ margin: 0 auto; }

	#price-book { clear: both; }
	#search-wrapper h3 { clear: both; }

/* Login - No guest access
------------------------------------------------------ */
body.logged-out,
.logged-out .main-pane {
	background: transparent;
}

#login-logo {
	display:none;
}

.logged-out #footer img{
	display:none;
}

.logged-out li.error-text{
  position: relative;
  z-index: 100;
  top: 475px;
  left: -16px;
  background: #ffdddd;
  border-bottom: 2px solid #ff0000;
  width: 580px;
  height: 30px;
  margin: 0px auto;
  padding: 0px 10px;
}

.logged-out .extra-panes  {
	margin: 0px auto;
	position: absolute;
	top: 0; left: -50px; bottom: 0; right: 0;
	width: 820px;
	height:768px;
	background: url(../../image/Icons/login_bg.png) no-repeat scroll left top rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.logged-out #login-form-wrap {
	background: #0467bd;
	border-left: 1px solid rgba(255, 255, 255, 0.25);
	height: 768px;
	left: 220px;
	position: absolute;
	top: 0;
	width: 600px;
	z-index: 10;
}

.logged-out #login-form{
    border-radius: 0px;
    box-shadow: none;
    background: url(../../image/Icons/OracleLogoWHT.png) no-repeat scroll right bottom rgba(0, 0, 0, 0);
    border: 0px solid #b5b8c8;
    margin: 0;
	height: 718px;
	width: 550px;
}

#login-form-head {
	background: url(../../image/Icons/logomark.png) no-repeat scroll right top rgba(0, 0, 0, 0);
  	position:absolute;
	z-index:15;
	background:;
	width:580px;
	height:260px;
    top: 0px;
    display: flex;
    padding: 0;
}

#login-form-head img{
    display: none;
    height: 100px;
}

#login-form .product-name {
	color: #FFFFFF;
    font-size: 36px;
    font-weight: 200;
    left: 0px;
    letter-spacing: 0.01em;
    position: absolute;
    text-align: left;
    top: 160px;
	left: 5px;
	border: 0px solid #ffffff;
    font-family: "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",Helvetica,Arial,sans-serif;
    background-size: 75%;
    padding-left: 25px;
}

#login-form label{
    font-size: 12px;
    font-weight: bold;
}

div.login-fields {
	border-left:solid 6px #0572ce;
	position:absolute;
	z-index:15;
	background:#FFF;
	width:580px;
	height:200px;
	left:-8px;
	top:260px;
	padding: 30px 10px 10px 10px;
}

div.login-button {
	position:absolute;
	z-index:15;
	top:410px;
	left: 6px;
  border: 0px solid #ffffff!important;
}

.login-button td.button-middle {
    background-color: transparent;
    background-image: none;
    border: 0px solid #c4ced7!important;
    border-radius: 2px;
    color: #000000;
    display: block;
    height: 38px;
    margin: 0;
    position: relative;
}

div.login-links {
	position:absolute;
	z-index:15;
	top:440px;
	left: 6px;
}

#login-form .login-links,
#login-form .login-links a{
    line-height: 13px;
	color: #145c9e!important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

#login-form a:hover{
  text-decoration: underline;
}

.pipe {
    padding: 0 6px;
}

#login-form .form-input {
	line-height: 15px;
	width: 350px;
}

#login-form-wrap .login-toggle .hide {
    display: none;
}

#login-form .login-button td img {
    display: none;
}

#login-form label {
	margin: 0; padding: 0;
	display: block;
	line-height: 16px;
	margin-top: 13px;
}

#login-form label{
    color: #454545;
}

#login-form #psword {
	margin-bottom: 10px;
}

#login-form select.form-input {
	margin-bottom: 5px;
}

#login-form br {
	display: none;
}

#login-form .form-input {
	margin: 0px;
	clear: both;
}

a#log_in {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c8cfd5;
    border-radius: 2px;
    height: 38px;
    padding: 0!important;
    width: 100px;
  	margin: 0px;
	text-align: center!important;
    color: #6c6c6c;
    font-family: "HelveticaNeue","Helvetica Neue","HelveticaNeueRoman","HelveticaNeue-Roman","Helvetica Neue Roman",Helvetica,Arial,sans-serif;
    font-size: 24px!important;
    font-weight: 200!important;
	line-height: 36px!important;
}

a#log_in:hover {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #0572ce!important;
  text-decoration: none;
	margin: 0px!important;
    color: #0572CE!important;
}

a#log_in:active {
    color: #ffffff!important;
     background: #0572CE none repeat scroll 0 0!important;
    border: 1px solid #0572ce!important;
    text-decoration: none;
  	margin: 0px!important;
}

/*Login - Guest Access
------------------------------------------------------ */
.guest-access .extra-panes  {
	display: block;
	position: absolute;
	top: 0;
	width: 100% !important;
	padding: 0;
	margin: 0;
	visibility: hidden;
	z-index: 1002 !important;
	float: none;
}
.guest-access .extra-panes form {
	width: 960px;
	margin: 0 auto;
	display: block;
	visibility: hidden;
	z-index: 1001 !important;
	position: relative;
}

.guest-access .main-pane {
	margin: 0;
}

.guest-access #login-form-wrap {
    visibility: visible;
    z-index: 1000 !important;
  	background: #0467bd;
	border: 1px solid #0467BD;
	height: 630px;
	left: 300px;
	width: 440px;
	-webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
}

.guest-access #login-form-wrap { display: none; }

.guest-access div.login-fields {
	border: 1px solid #0572ce;
	position:absolute;
	z-index:15;
	background:#FFF;
	width:380px;
	height:200px;
	left:0px;
	top:260px;
	padding: 30px 10px 10px 10px;
}

.guest-access div.login-button,
.guest-access div.login-links{
	margin-left: 5px;
}

.guest-access #login-form-head {
	background: url(../../image/Icons/logomark.png) no-repeat scroll right top rgba(0, 0, 0, 0);
  	position:absolute;
	z-index:15;
	background:;
	width:440px;
	height:259px;
	top: 0px;
	padding: 0;
}
.guest-access .pipe { padding: 0 6px; }

.guest-access #login-form {
	background: transparent;
	padding: 0;
	-moz-box-shadow: none;
    border-radius: 0px;
    box-shadow: none;
    background: url(../../image/Icons/OracleLogoWHT.png) no-repeat scroll 255px 570px rgba(0, 0, 0, 0);
    border-top: 30px solid #ffffff;
    margin: 0 10px 10px 0px;
	height: 600px;
	width: 440px!important;
}

.guest-access #login-form-wrap .login-toggle {
    position: absolute;
	top: 3px;
	right: 3px;
    height: 16px;
    width: 16px;
  border:5px solid #ffffff;
    background: #FFFFFF url(../../image/Icons/close_button.png) no-repeat right top;
    cursor: pointer;
	z-index:1005;
}
.guest-access #login-form-wrap .login-toggle:hover {
	background-position: right -16px;
}

.guest-access #login-form-wrap .login-toggle .hide {
	display: none;
}

/* Search Box
------------------------------------------------------ */

#search-outer-wrapper,
#serial-search-outer-wrapper {
	margin: 0 0px 0 0;
	padding: 5px 23px 12px 10px;
	z-index: 100;
	-moz-box-shadow: 5px 5px 20px #999999;
	-webkit-box-shadow: 5px 5px 20px #999999;
	box-shadow: 5px 5px 20px #999999;
	background: #FFFFFF;
	border: 1px solid #d6dfe6;
}

#search-login-toggle-wrapper {
	float: right;
	padding: 0;
  margin-top: -1px;
	margin-right: 5px;
	white-space: nowrap;
	position: absolute;
	top: 8px;
	right: 5px;
	z-index: 2;
}
#search-login-toggle-wrapper span.pipe{
	display:none!important;
}

#search-login-toggle-wrapper a, .return-to-quote a {
    display: block;
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
	margin: 5px 0 0 -1px;
    color: #000000; /* Primary Text Color */
	background-color: transparent;
    background-image: #e4e8ea; /* For browsers that do not support gradients */
    background-image:-webkit-linear-gradient(#f1f3f4, #e4e8ea); /* For Safari 5.1 to 6.0 */
    background-image:-o-linear-gradient(#f1f3f4, #e4e8ea); /* For Opera 11.1 to 12.0 */
    background-image:-moz-linear-gradient(#f1f3f4, #e4e8ea); /* For Firefox 3.6 to 15 */
    background-image:linear-gradient(#f1f3f4, #e4e8ea); /* Standard syntax */
    border: 1px solid #c4ced7;
  border-radius: 2px;
    height: 26px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-decoration: none;
	font-weight: 700;
}

#search-login-toggle-wrapper a:hover {
  background-color: #f7f8f9;
  color: #0572ce;
}

#search-outer-wrapper, #serial-search-outer-wrapper {
	display: none;
	position: absolute;
	right:  0;
	top: 0px;
	padding: 5px 5px 0px 0px;
}

#search-wrapper {
	float: left;
	width: auto;
	padding-left: 10px;
	margin-top: 7px;
	position: relative;
}
#serial-search-wrapper {
	float: left;
	width: 215px;
	padding-left: 10px;
	margin-top: 7px;
	position: relative;
}
#search-wrapper h3,
#serial-search-wrapper h3 {
    float: left;
	color: #454545; /* Primary Text Color */
    padding: 0 0 2px 0;
    margin: 0 0 2px 0;
}
#search-login-toggle-wrapper .parts-search-toggle,
#search-login-toggle-wrapper .serial-num-search-toggle  {
  padding-left: 30px;
  	background: #e4e8ea url(../../image/Icons/func_magnify_ena.png) no-repeat 5px;
}

#search-login-toggle-wrapper .parts-search-toggle:hover,
#search-login-toggle-wrapper .serial-num-search-toggle:hover  {
	background: #f7f8f9 url(../../image/Icons/func_magnify_hov.png) no-repeat 5px;
}

#search-wrapper .parts-search-toggle,
#serial-search-wrapper .serial-num-search-toggle  {
    float: right;
    height: 16px;
    width: 16px;
    background: transparent url(../../image/Icons/close_button.png) no-repeat;
    cursor: pointer;
}

#search-top-wrapper,
#serial-search-top-wrapper  {
    width: 100%;
}
#search-bottom-wrapper,
#serial-search-bottom-wrapper  {
    clear: both;
}
#search-wrapper .parts-search-toggle:hover,
#serial-search-wrapper .serial-num-search-toggle:hover {
    background-position: 0 -16px
}
#search-wrapper .hide,
#serial-search-wrapper .hide  {
    display: none;
}
#search-wrapper div,
#serial-search-wrapper div  {
    float: left;
}
/* search input */
div.search-input-wrapper {
	border: 1px solid #d6dfe6;
	height: 24px;
    margin: 6px 0px;
    background: #fff;
}

#simple-search {
	height: 20px;
	line-height: 20px;
	padding: 1px;
	font-size: 12px;
	border: none;
	margin: 1px;
	width: 140px;
}

/* search button */
div.search-button-wrapper {
	margin: 6px 4px 6px 2px;
	background-color: transparent;
    background-image: #e4e8ea; /* For browsers that do not support gradients */
    background-image:-webkit-linear-gradient(#f1f3f4, #e4e8ea); /* For Safari 5.1 to 6.0 */
    background-image:-o-linear-gradient(#f1f3f4, #e4e8ea); /* For Opera 11.1 to 12.0 */
    background-image:-moz-linear-gradient(#f1f3f4, #e4e8ea); /* For Firefox 3.6 to 15 */
    background-image:linear-gradient(#f1f3f4, #e4e8ea); /* Standard syntax */
    border: 1px solid #c4ced7;
    color: #000000;
  border-radius:2px;
	cursor: pointer;
}

.search-button-wrapper input.button {
	background: url(../../image/Icons/func_magnify_ena.png) no-repeat center 3px;
	border: none;
	width: 22px;
	height: 24px;
	cursor: pointer;
}

div.search-button-wrapper input.button:hover {
	background: #f7f8f9 url(../../image/Icons/func_magnify_hov.png) no-repeat center 3px;
}

div.search-button-wrapper input.button:active {
    background: #0572ce url(../../image/Icons/func_magnify_act.png) no-repeat center 3px;
    border-color: #0572ce!important;
}

.search-button-wrapper input.button::-moz-focus-inner {
  padding: 0;
  border: none;
}

.advanced-search {
	font-size: 11px;
	height: 16px;
	line-height: 16px;
	margin: 7px 8px 7px 0;
	clear: both;
	display: block;
	color: #145c9e;
}

.advanced-search:hover {
    text-decoration: underline;
    color: #145c9e;
}


/* Return To Quote */
/* ------------------------------------------------------ */
.return-to-quote,
.return-to-quote-pipe {
	display:none !important;
}

#price-book {
    height: 20px;
    padding: 2px 1px 2px 0;
}

#price-book select {
	background: #fff !important;
	border: solid 1px #666666; /* Secondary Color */
	margin-top: 4px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	padding: 0 0 0 2px;
}

/* Wrapper
------------------------------------------------------ */
#wrapper {
	width: 100%;
	margin-left:  -6px;
	text-align: center;
	background: transparent!important;
}

#wrapper-inner {
    border: 1px solid #d6dfe6;
    margin: 10px;
	padding: 10px;
	border-radius: 3px;
    background:  #fff;
    text-align: left;
    min-height: 600px;
    position: relative;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

/* Content
------------------------------------------------------ */
.logged-in #content {
	padding: 0px 15px 30px 15px;
	background: #fff;
	overflow: hidden;
}

.featured-image {
	padding: 5px;
	border: solid 1px #fff;
	float: right;
}

/* Footer
------------------------------------------------------ */
#footer {
	background: transparent;
}
#footer-inner {
	width:  940px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100px;
}
.powered-by {
	margin: 20px 0 0 0;
	display: block;
}

/* Product Family Nav Bar
------------------------------------------------------ */
#family-nav {
    height: 33px;
    border-bottom: 1px solid #d6dfe6;
    padding: 0px;
    margin: 0;
    max-width: 1200px ;
    background: transparent;
}

#family-nav li {
    float: left;
    list-style: none;
}

#family-nav > li > a{
	color: #145c9e;
    height: 18px;
    font-size: 12px;
    line-height: 18px;
    padding: 5px 9px 7px 9px;
	/* margin: 1px 5px 0 0; */
    text-decoration: none;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px!important;
	font-weight: 400!important;
  	/* border: 1px solid #D6DFE6; */
	border-radius: 0px;
}

#family-nav > li > a:hover{
text-decoration: underline;
}

#family-nav > li.active > a{
    border-bottom: 3px solid #0572CE;
    /* padding: 0px 8px 3px 8px; */
	margin: 1px 5px 0 0;
    /* border-bottom: 2px solid #ffffff;
    text-decoration: none; */
    font-weight: bold!important;
}


.product-line-nav > li{
    float: left;
    list-style: none;
}

.product-line-nav > li > a{
    color: #000000;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    padding: 0 20px 0 8px;
	margin: 1px 5px;
	text-decoration: none!important;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px!important;
	font-weight: 400!important;
  	border: 1px solid #ffffff;
	border-radius: 3px;
	background: url(../../image/Icons/dropdown_ena.png) no-repeat 96% 50%;
}

.product-line-nav > li.hover > a{
	border: 1px solid #c4ced7!important;
	border-radius: 3px;
	color: #0572ce;
  	background: #f7f8f9 url(../../image/Icons/dropdown_hov.png) no-repeat 96% 50%!important;
	text-decoration: none!important;
	}

.product-line-nav > li.active > a{
	border: 1px solid #0572ce!important;
	border-radius: 3px;
	color: #FFFFFF;
  	background: #0572ce url(../../image/Icons/dropdown_dwn.png) no-repeat 96% 50%!important;
	text-decoration: none!important;
	}

/* Hide Sub Indicator on Product Family dropdown */
/* ------------------------------------------------------ */
.sf-sub-indicator{
    display:none;
}

/* Product Line Nav Bar
------------------------------------------------------*/

ul.product-line-nav,
.product-line-nav ul {
	padding: 0px;
	display: inline-block;
}

.product-content h2 {
    display: none;
}

/* Model Line Tabs / Dropdown - Level One
------------------------------------------------------ */
ul.dropdown {
	position: relative;
}

ul.dropdown li {
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: bold;
    position: relative;
}

/* Dropdown - Level Two items */
ul.dropdown ul {
	width: auto;
	max-width: 550px;
	height: auto;
	display: block;
	visibility: hidden;
	position: absolute;
	top: 96%;
    left: 5px;
	border: 1px solid #c4ced7;
	z-index: 500;
}

ul.dropdown ul li {
	font-weight: normal;
	color: #000000;
	float: none;
	font-size: 12px;
	display: block;
	height: auto;
}
ul.dropdown li:hover > ul {
	visibility: visible;
}

/* Dropdown -Inactive Tab items*/
ul.dropdown ul li a {
    background: #FFFFFF;
    border: 0px solid #c4ced7;
	width: auto;
	display: block;
	line-height: 20px;
	padding: 3px 8px;
    color: #000000;
	text-decoration: none!important;
	}

ul.dropdown ul li:first-child a {
}

ul.dropdown li ul li a:hover {
    background: #ebeced!important;
    color: #000000;
	text-decoration: none!important;
	}

/* Dropdown - Active Tab items*/
ul.dropdown li.active ul li a {
    background: #FFFFFF;
	text-decoration: none!important;
	}

ul.dropdown li.active ul li a:hover {
	background: #ebeced;
    color: #000000;
}

/* Dropdown - Level Three items*/
ul.dropdown ul ul {
	left: 100%;
	top: 0;
}

ul.dropdown li li a {
	min-width: 150px;
    display: block;
    white-space: nowrap;
	text-decoration: none!important;
	}

/* Dropdown - Documents */
ul.dropdown li li.doc a{
	padding-left: 25px;
	padding-left: 10px;
}

ul.dropdown li li.doc-head {
	border-top: solid 2px;
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15) inset;
	-webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15) inset;
}
ul.dropdown li li.doc-head a {
	cursor: default;
	padding-left: 10px !important;
	font-weight: bold;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.4);
}

ul.dropdown li li.doc-head a:hover {
    background: none repeat scroll 0 0 transparent;
}

ul.dropdown li li.doc a{
	padding-left: 25px;
}