<link rel="stylesheet" href="$BASE_PATH$/css/custom-homepage.css" type="text/css">
<div id="homepage-container">
    <h1>Service Partners - Latest News</h1>
    <div class="announcement">
        <h2>Ask us about Walk Thru Doors!</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae diam id tortor pellentesque sodales. Nunc velit mi, vehicula dignissim feugiat in, congue in ante. Cras imperdiet, odio eu tincidunt faucibus, massa massa tincidunt ligula, vel iaculis nisl libero ac tortor. Morbi fringilla feugiat tellus at placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse pulvinar ante id ipsum aliquet, laoreet maximus libero sodales. Praesent vel finibus magna. Nam ut sagittis lacus, quis ultrices felis. Proin vel ligula nec enim placerat pulvinar. Nulla porta lorem non egestas fermentum. Vestibulum maximus arcu libero, quis vulputate arcu sagittis a. Nunc magna neque, mattis eu ultricies ac, pulvinar a augue. Quisque viverra lacus at nibh convallis, eget cursus est ullamcorper. Proin pulvinar sit amet purus eu ullamcorper. Aenean auctor, nunc sit amet semper convallis, mi ante vehicula nibh, ut vulputate leo mi nec orci.</p>   
       
        <img src="$BASE_PATH$/Announcements/walkthru2.jpeg" border="0" height="300" width="300">
        <img src="$BASE_PATH$/Announcements/walkthru3.JPG" border="0" height="300" width="300">
        <hr/>
    </div>
    <div class="announcement">
        <h2>Test announcement</h2>
        <p>This is a test announcement</p>            
    </div>
</div>